
#table{
    overflow-x: scroll;
}

#columna{
    background-color: #f8f8f8;
    text-align: center;
}
#descripcion {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 50px;
        text-align: justify;
}

#buttondetalle{
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    background-color: #00CED1;
}

#add {
    background-color: #00CED1;
}

#print{
    background-color: #00CED1;
    font-size: 24x;
    color: black;
}

#edit {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #00CED1;
    padding: 4px 2px;
    border: 1px solid #ddd;
}

#delete{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #FF2700;
    padding: 4px 2x;
    border: 1px solid #ddd;
}

#colorModal{
    background-color: #DCDCDC;
    width: 120%;
}

#colorDetalle{
    background-color: #DCDCDC;
    width: 120%;
} 

#colorDetalle input {
    background-color: #ffffff;
}

#colorDetalle select {
    background-color: #ffffff;
}


div.modal-body {
    padding: 10px;
}

div.modal-body h6 {
    padding: 10px 0px 0px 5px;
}

div.w-33 {
    width: 100%;
    padding: 1%;
}
    
div.center {
    text-align: center;
}

#btn{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: 1px solid #ddd;
}
    
#btn:focus {
    box-shadow: 0px 0px 0px 2px rgb(0, 0, 0), 0px 0px 0px 3px rgb(10, 10, 10);
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    #colorDetalle{
        width: auto;
    }
    #colorModal {
        width: auto;
    }
}

@media only screen and (max-width : 800px) {
    #colorDetalle {
            width: auto;
        }
    
    #colorModal {
            width: auto;
} 
}