.clockdate-wrapper {
    background-color: #333;
    padding: 15px 2px 15px 2px;
    max-width:auto;
    width:auto;
    text-align: center;
    margin: auto;
    

}
#clock{
    background-color:#333;
    font-family: sans-serif;
    font-size:60px;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}
#clock span {
    color:#888;
    text-shadow:0px 0px 1px #333;
    font-size:30px;
    position:relative;
    top:-27px;
    left:-10px;
}
#date {
    letter-spacing:10px;
    font-size:14px;
    font-family:arial,sans-serif;
    color:#fff;
}

@media  only screen and (max-width: 700px) {
    
    .clockdate-wrapper {
      height:auto;
      display:table;
      width: auto;
      padding: 15px 2px 15px 2px;
      margin: 0px;
    }
    #clock{
      font-family: sans-serif;
      font-size:55px;
      text-shadow:0px 0px 1px #fff;
      color:#fff;
      background-color:#333;

    }
}
/* entrada  */


/* login  */
@import url('https://rsms.me/inter/inter-ui.css');
::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}

body {
  background: white;
  font-family:'Inter UI', sans-serif;
  margin: 0;
  padding: 40px 0px 0px 10px ;
}
.page {
  background: #e2e2e5;
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
  position: absolute;
  place-content: center;
  width: calc(100% - 20px);
}
@media (max-width: 767px) {
  .page {
    height: 80%;
    margin-bottom: 50px;
    padding-bottom: 20px;
  }
}
.container {
  display: flex;
  height: 320px;
  margin: auto;
  width: 640px;
  
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
  .left {
   background: white;
   top: 20px;
   height: calc(100% - 50px);
   width: 50%;
   position: relative;
  
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}

.login {
  font-weight: 900;
  text-align: center;
  margin: auto;
  font-size: 40px;
    
  }
.eula {
  font-size: 25px;
  line-height: auto;
  margin: auto;
  text-align: center;
  color: #999;
  }
.right {
  background: #474A59;
  box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .right {
    box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.22);
    flex-shrink: 10px;
    height: 100%;
    width: 100%;
    max-height: 350px;
    }
  .login {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin: auto;
  }
  .eula {
    color: #999;
    font-size: 18px;
    line-height: auto;
    margin: auto;
    text-align: center;
    
  }
}

svg {
  position: absolute;
  width: auto;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}

.form {
  margin: 50px;
  position: absolute;
}

label {
  text-align: center;
  color:  #c2c2c5;
  display: block;
  font-size: 18px;
  height: 23px;
  margin-top: 15px;
  margin-bottom: 5px;
}

input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 16px;
  height: 25px;
  line-height: 20px;
  outline: none !important;
  width: 100%;
}

input::-moz-focus-inner { 
  border: 0; 
}

#submit {
  color: #0c0c0c;
  background-color: #626279;
  margin-top: 20px;
  transition: color 300ms;
  border-radius: 10px;
}

#submit:focus {
  color: #f2f2f2;
}

#submit:active {
  color: #d0d0d2;
}
